.searchform{
    text-align: center;
  justify-content:center;
}

.mat-header-cell {
    text-align: center;
    justify-content:center;
   }

div {
    text-align: center;
  justify-content:center;
}

.mat-table {
    text-align: center !important;
    width: 100%;
}